html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.startbildschirmcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40vh;
    text-align: center;
    padding: 40px 60px;
    border-radius: 20px;
}

.start_button {
    display: inline-block;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 13px 25px;
    text-transform: uppercase;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(110, 80, 20, 0.4),
                inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
                inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    background-image: linear-gradient(160deg,  #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07;
    color: rgb(120, 50, 5);
    text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.start_button:focus,
.start_button:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(165, 93, 7, 0.6);
    color: rgba(120, 50, 5, 0.8);
}

.start_button:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(110, 80, 20, 0.4),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}

.start_button:disabled {
    pointer-events: none;
    opacity: .65;
    color: #7e7e7e;
    background: #dcdcdc;
    box-shadow: none;
    text-shadow: none;
    border-color: #c2c2c2;
}